@page
@model miniProjet1.Pages.AjoutPModel
@{
}
<h1>Create</h1>

<h4>Professeur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Professeur.nom" class="control-label"></label>
                <input asp-for="Professeur.nom" class="form-control" />
                <span asp-validation-for="Professeur.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professeur.prenom" class="control-label"></label>
                <input asp-for="Professeur.prenom" class="form-control" />
                <span asp-validation-for="Professeur.prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professeur.dateN" class="control-label"></label>
                <input asp-for="Professeur.dateN" class="form-control" />
                <span asp-validation-for="Professeur.dateN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professeur.contactT" class="control-label"></label>
                <input asp-for="Professeur.contactT" class="form-control" />
                <span asp-validation-for="Professeur.contactT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professeur.contactM" class="control-label"></label>
                <input asp-for="Professeur.contactM" class="form-control" />
                <span asp-validation-for="Professeur.contactM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professeur.login" class="control-label"></label>
                <input asp-for="Professeur.login" class="form-control" />
                <span asp-validation-for="Professeur.login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professeur.password" class="control-label"></label>
                <input asp-for="Professeur.password" class="form-control" />
                <span asp-validation-for="Professeur.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>