@page
@model miniProjet1.Pages.AjoutFModel
@{
}
<h1>Ajout de Filiere</h1>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Filiere.nom" class="control-label"></label>
                <input asp-for="Filiere.nom" class="form-control" />
                <span asp-validation-for="Filiere.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control btn btn-primary" type="submit" value="Ajouter"/>
            </div>
        </form>
    </div>
</div>
    <div>
    <a asp-page="IndexF">Back to List</a>
    </div>

