@page
@model miniProjet1.Pages.EditFModel
@{
}


<h1>Edit</h1>

<h4>Filiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Filiere.id_fil" />
            <div class="form-group">
                <label asp-for="Filiere.nom" class="control-label"></label>
                <input asp-for="Filiere.nom" class="form-control" />
                <span asp-validation-for="Filiere.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="IndexF">Back to List</a>
</div>